.okr-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeeb; 
    padding: 10px 5px 10px 10px;
    width: 100%;
    font-family: SpaceGrotesk-Medium, sans-serif ;

  }
  
  .okr-item {
    font-size: 12px;
    white-space: nowrap;
    text-align: left;
  }
  
  .okr-separator {
    width: 1px;
    height: 20px;
    background-color: #ccc; 
  }
  .inHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .component{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  
  }
  .p11{
    padding: 11px 10px !important;
  }
  