.login-container {
    background-color: #f8f9fa;
  }
  
  .image-section {
    height: 100%;
  }
  
  .image-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    opacity: 0.8;
  }
  
  .gradient-background {
    background-image: url('../../assest/login-background.jpg'), linear-gradient(344.87deg, #102191 -17%, #202026 57%);
  }